---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";
import Icon from "../../components/Icon.astro";
import Pill from "../../components/Pill.astro";

interface Props {
  entry: CollectionEntry<"service">;
}

export const prerender = true;

export async function getStaticPaths() {
  const services = await getCollection("service");
  return services.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const formId = entry.data.form_id || "contactForm";
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <div class="stack gap-20">
    <div class="stack gap-15">
      <header>
        <div class="wrapper stack gap-2">
          <a class="back-link" href="/services/">
            <Icon icon="arrow-left" /> Services
          </a>
          <Hero title={entry.data.title} align="center" />
        </div>
      </header>
    </div>
    <main class="wrapper">
      <div class="container"></div>

      <section class="box skills">
        <form
          action="/submit_form"
          method="post"
          class="callActionForm"
          id={formId}
        >
          <input type="text" name="name" placeholder="Prénom*" required />
          <input type="text" name="surname" placeholder="Nom*" required />
          <input
            type="email"
            name="email"
            placeholder="Adresse Email*"
            required
          />
          <input
            type="tel"
            name="phone"
            placeholder="Numéro de Téléphone*"
            required
          />
          <textarea name="message" placeholder="Message*" required></textarea>

          <button type="submit">Envoyer</button>
        </form>
        <div class="description">
          {
            entry.data.service_details.map((detail: any) => (
              <>
                <h5>{detail.title}</h5>
                {detail.content && <p class="whyUse">{detail.content}</p>}
                {detail.list_items && (
                  <ul>
                    <br />
                    {detail.list_items.map((item: any) => (
                      <li>{item}</li>
                    ))}
                  </ul>
                )}
              </>
            ))
          }
        </div>
      </section>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<script>
  interface FormDataObject {
    name: string;
    surname: string;
    email: string;
    phone: string;
    message: string;
  }
  document.addEventListener("DOMContentLoaded", function () {
    const forms = document.querySelectorAll<HTMLFormElement>(".callActionForm");

    forms.forEach((form) => {
      form.addEventListener("submit", async function (event) {
        event.preventDefault();

        const formData = new FormData(form);
        const formObject: FormDataObject = {
          name: formData.get("name") as string,
          surname: formData.get("surname") as string,
          email: formData.get("email") as string,
          phone: formData.get("phone") as string,
          message: formData.get("message") as string,
        };

        const siteType = form.id.replace("contactForm", ""); // Obtient le type de site à partir de l'ID du formulaire

        try {
          const response = await fetch("/api/send-email", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ ...formObject, siteType }),
          });

          const result = await response.json();
          alert(result.message || result.error);
        } catch (error) {
          console.error("Error:", error);
          alert("Une erreur est survenue lors de l'envoi du message.");
        }
      });
    });
  });
</script>

<style>
  /* Styles par défaut (pour les écrans larges) */
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 2rem;
    border-radius: 0.75rem;
    background: linear-gradient(135deg, #13072e, #3f2182);
  }

  .callActionForm {
    padding: 2rem;
    background-color: none;
    order: 1; /* Formulaire à gauche par défaut */
  }

  .callActionForm input,
  .callActionForm textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .callActionForm textarea {
    font-family: Arial, sans-serif;
    resize: none;
    height: 200px;
  }

  .callActionForm button {
    background-color: #13072e;
    color: #fff;
    padding: 2rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin: 0;
  }

  .callActionForm button:hover {
    background-color: #7a3aa1;
  }

  .description {
    flex: 1;
    padding: 2.5rem;
    order: 2; /* Description à droite par défaut */
  }

  .description ul {
    list-style-type: none;
  }

  .description li {
    margin-left: 1.5em;
    position: relative;
  }

  .description li::before {
    content: "🟢";
    color: green;
    position: absolute;
    left: -1.5em;
  }

  .description h5::before {
    content: "🌟"; /* Votre icône ici */
    color: gold;
    position: absolute;
    left: -1.5em;
  }

  .whyUse {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .toGet {
    margin-bottom: 1rem;
  }

  /* Styles pour les écrans de moins de 1080px (tablettes et mobiles) */
  @media (max-width: 1080px) {
    .box {
      display: flex;
      flex-direction: column; /* Une seule colonne */
    }

    .callActionForm,
    .description {
      padding: 1rem; /* Réduire le padding pour les petits écrans */
    }

    .callActionForm {
      order: 2; /* Formulaire en dessous de la description */
    }

    .description {
      order: 1; /* Description au dessus du formulaire */
      margin-top: 1em;
    }
  }

  @media (max-width: 475px) {
    .whyUse {
      margin-left: auto;
    }
    .description li {
      margin-left: 0;
    }
  }
</style>
