---
import type { CollectionEntry } from "astro:content";

interface Props {
  services: CollectionEntry<"service">[];
}

const { services } = Astro.props;
---

<div class="container">
  {
    services.map((service) => (
      <section
        class={`box skills ${service.data.is_best_deal ? "bestdeal" : ""}`}
      >
        {service.data.is_best_deal && <div class="pastille">#bestdeal</div>}
        <div class="stack gap-2 lg:gap-4">
          <div class="title_services">
            <h2>{service.data.title}</h2>
            <h5>{service.data.price}€</h5>
          </div>
          <div class="description_service">
            <ul>
              {service.data.features.map((feature: any) => (
                <li>{feature}</li>
              ))}
            </ul>
          </div>
          <div class="button-container">
            <button class="button">
              <a href={`/services/${service.slug}`}>
                Get {service.data.title.toLowerCase()}
                <p>
                  <span>&rarr;</span>
                </p>
              </a>
            </button>
          </div>
        </div>
      </section>
    ))
  }
</div>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .stack {
    width: 100%;
  }
  .title_services {
    display: flex;
    flex-direction: column;
    padding: 1em 2.5em;
    border-bottom: 1px solid var(--gray-800);
    text-align: center;
    width: 100%;
  }

  .description_service {
    padding: 0 2rem;
    padding-bottom: 7em;
  }
  .description_service ul {
    list-style-type: none;
  }

  .description_service li {
    position: relative;
  }

  .description_service li::before {
    content: "✅";
    color: green;
    position: absolute;
    left: -1.5em;
  }

  .button-container {
    width: 80%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    bottom: 0;
    left: 50%; /* Pour centrer horizontalement */
    transform: translateX(-50%); /* Pour centrer horizontalement */
  }

  .button {
    font-size: var(--text-md);
    width: 100%;
    padding-inline: 0;
    padding-block: 0;
    border-radius: 0.75rem;
    border: none;
  }

  .button a {
    display: flex;
    justify-content: center;
    padding: 1em 0em 1em 0;
    color: #13072e;
    text-decoration: none;
    width: 100%;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }

  .button span {
    display: none;
  }

  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    margin: 1rem;
    background: linear-gradient(135deg, #13072e, #3f2182);
    box-shadow: var(--shadow-sm);
    width: 100%;
    position: relative;
  }

  .skills {
    display: flex;
    flex-direction: row;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .pastille {
    border-radius: 50px;
    padding: 0.5em 1em;
    background-color: #b3aaff;
    color: #13072e;
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .bestdeal {
    border: 1px solid #b3aaff;
  }

  /* Media query pour les écrans de moins de 475px */
  /* Media query pour les écrans de moins de 475px */
  @media (max-width: 475px) {
    .pastille {
      scale: 0.6;
      top: 0.5em;
      right: 0em;
    }

    .button a {
      padding: 1em 0em 1em 0;
      font-weight: 700;
    }

    .bestdeal {
      border: 1px solid #b3aaff;
    }
  }

  @media (min-width: 67.5em) {
    .container {
      flex-wrap: nowrap;
      position: relative;
    }

    .box {
      border-radius: 1.5rem;
      padding: 1.5rem 0;
      transition: transform 0.3s ease; /* Transition pour l'effet de zoom */
    }

    .box:hover {
      transform: scale(1.05); /* Zoom léger */
      transition: transform 0.3s ease; /* Transition pour l'effet de zoom */
    }

    .title_services {
      text-align: left;
    }

    .skills {
      display: grid;
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-lg);
      margin-bottom: 1rem;
    }
    .skills h5 {
      font-size: var(--text-4xl);
      margin-bottom: 1rem;
    }

    .button-container {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: 10px;
    }

    .button {
      font-size: var(--text-md);
      width: auto;
      border-radius: 50px;
    }

    .button a {
      padding: 1.8em 0.3em 1.8em 2em;
      justify-content: space-between;
      color: #13072e;
      text-decoration: none;
    }

    .button span {
      display: initial;
      margin-left: 1em;
      border-radius: 50px;
      background-color: #13072e;
      padding: 1.5em;
      color: #fff;
    }

    .bestdeal {
      border: 1px solid #b3aaff;
    }

    .pastille {
      padding: 0.5em 1em;
      background-color: #b3aaff;
      color: #13072e;
      position: absolute;
      right: 1em;
      top: 1em;
    }
  }
</style>
