---
import { getCollection, type CollectionEntry } from "astro:content";
import { getLangFromUrl } from "../../../i18n/utils";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ContactCTA from "../../../components/ContactCTA.astro";
import Hero from "../../../components/Hero.astro";
import Icon from "../../../components/Icon.astro";
import MediaDisplay from "../../../components/MediaDisplay.astro";
import Pill from "../../../components/Pill.astro";

interface Props {
  entry: CollectionEntry<"work">;
}

export const prerender = true;

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const lang = "en";
  const works = await getCollection("work", ({ id }) => {
    return id.startsWith(`${lang}/`);
  });

  return works.map((entry) => ({
    params: { slug: entry.slug.split("/")[1] }, // Remove language prefix from slug
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <div class="flex flex-col gap-20">
    <div class="flex flex-col gap-8 md:gap-10 lg:gap-15">
      <header class="border-b border-gray-800 pb-2 md:pb-10 lg:pb-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <a
            class="inline-flex items-center text-gray-400 hover:text-white transition-colors mb-8"
            href="/work/"
          >
            <Icon icon="arrow-left" />
            <span class="ml-2">Work</span>
          </a>
          <Hero title={entry.data.title} align="start">
            <div class="flex flex-col md:flex-row md:items-center gap-6 mt-6">
              <div class="flex flex-wrap gap-2 justify-center md:justify-start">
                {entry.data.tags.map((t: any) => <Pill>{t}</Pill>)}
              </div>
              <p class="text-lg text-gray-300 max-w-2xl">
                {entry.data.description}
                {
                  entry.data.url ? (
                    <a
                      href={entry.data.url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="text-purple-600 dark:text-purple-400 hover:underline md:flex lg:inline"
                    >
                      → Nettoyage du Hurepoix
                    </a>
                  ) : null
                }
              </p>
            </div>
          </Hero>
        </div>
      </header>

      <main class="w-full px-4 sm:px-6 lg:px-8">
        <div
          class={`flex flex-col ${entry.data.mediaType !== "none" ? "gap-5 md:gap-10 lg:gap-15" : ""} max-w-[90rem] mx-auto`}
        >
          <div class="w-full media-container">
            <MediaDisplay {...entry.data} />
          </div>

          <div
            class="prose prose-lg dark:prose-invert max-w-none md:w-3/4 lg:w-3/4 mx-auto"
          >
            <Content />
          </div>
        </div>
      </main>
    </div>
    <ContactCTA />
  </div>
</BaseLayout>

<style is:global>
  .prose {
    @apply text-[var(--gray-200)] dark:text-[var(--gray-200)] text-[var(--text-lg)];
  }

  .prose h1 {
    @apply text-[var(--text-5xl)] lg:text-[calc(var(--text-5xl)*1.5)] font-black mb-16 leading-tight tracking-tight;
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-brand);
  }

  @media (max-width: 50em) {
    .prose h1 {
      font-size: calc(var(--text-5xl) * 1.5);
    }
  }

  .prose h2 {
    @apply text-[var(--text-4xl)] font-bold mb-10 text-[var(--gray-100)] dark:text-[var(--gray-100)] relative;
  }

  .prose h2::before {
    content: "";
    @apply absolute -left-6 top-0 h-full w-1.5;
    background: var(--gradient-accent);
    border-radius: 9999px;
  }

  .prose h3 {
    @apply text-[var(--text-3xl)] font-semibold mb-8 text-[var(--gray-100)] dark:text-[var(--gray-100)] relative inline-block;
  }

  .prose h3::after {
    content: "";
    @apply absolute bottom-0 left-0 w-1/2 h-0.5;
    background: var(--accent-regular);
  }

  .prose p {
    @apply mb-8 leading-relaxed text-lg tracking-wide;
  }

  .prose strong {
    @apply font-bold text-purple-600 dark:text-purple-400 text-2xl;
  }

  .prose li strong {
    @apply font-bold text-purple-600 dark:text-purple-400 text-xl;
  }

  .prose ul {
    @apply space-y-4 mb-8 ml-6;
  }

  .prose ul li {
    @apply relative pl-6;
  }

  .prose ul li::before {
    content: "▶";
    @apply absolute left-0 text-purple-600 dark:text-purple-400 text-xl;
  }

  .prose blockquote p {
    @apply text-[calc(var(--text-2xl))] font-black leading-tight tracking-tight  p-0 text-purple-600 dark:text-purple-400;
  }

  @media (max-width: 50em) {
    .prose blockquote p {
      @apply text-[calc(var(--text-xl))];
    }
  }

  .prose blockquote {
    @apply pl-6 my-4 mb-8 border-l-4 border-purple-600 dark:border-purple-400;

    /* Fallback pour les anciens navigateurs */
    background-color: rgba(
      17,
      24,
      39,
      0.1
    ); /* Équivalent de dark:bg-purple-900/10 */

    /* Version moderne avec transparence */
    background-color: rgba(var(--color-dark), 0.1);

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    /* Préfixes vendeurs */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  /* Mode sombre */
  .dark .prose blockquote {
    background-color: rgba(17, 24, 39, 0.1);
  }

  .prose code {
    @apply bg-purple-50 dark:bg-purple-900/20 text-purple-700 dark:text-purple-300 rounded-md px-2 py-0.5 text-sm font-mono;
  }

  .prose pre {
    @apply bg-gray-900 text-gray-100 p-6 rounded-xl shadow-lg my-8 overflow-x-auto;
  }

  .prose a {
    @apply text-purple-600 dark:text-purple-400 font-medium relative inline-block;
  }

  .prose a::after {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-0.5 bg-purple-600 dark:bg-purple-400 transform scale-x-0 transition-transform duration-300 origin-left;
  }

  .prose a:hover::after {
    @apply scale-x-100;
  }

  .prose img {
    @apply rounded-2xl shadow-xl my-12 w-full object-cover;
  }

  .prose hr {
    @apply my-12 border-purple-200 dark:border-purple-800;
  }

  /* Animation pour les éléments au scroll */
  .prose > * {
    @apply opacity-0 translate-y-4 transition-all duration-700;
  }

  .prose > *.show {
    @apply opacity-100 translate-y-0;
  }

  .prose .imgs-argedis {
    @apply flex w-full justify-around;
  }

  .prose .imgs-argedis img {
    @apply w-[40%] object-cover mb-12 mt-0;
    object-position: center top; /* Aligne en haut et centre horizontalement */
  }

  .prose .video-container {
    @apply w-full flex justify-center items-center mb-8;
  }

  .prose .video-container .video-project {
    @apply w-auto max-w-[calc(9/16*100%)] h-[350px] rounded-2xl shadow-lg md:h-[500px] lg:h-[600px];
    aspect-ratio: 9/16;
    object-fit: cover;
    object-position: center top; /* Aligne en haut et centre horizontalement */
  }

  .prose .video-container-sweetime {
    @apply w-full flex justify-center items-center mb-8;
  }

  .prose .video-container-sweetime .video-project-sweetime {
    @apply w-full max-w-[calc(9/16*100%)] h-[450px] rounded-2xl shadow-lg md:h-[500px] lg:h-[600px] md:w-[40%] lg:w-[30%];
    aspect-ratio: 9/16;
    object-fit: fill; /* Aligne en haut et centre horizontalement */
  }
</style>

<script>
  // Animation au scroll
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("show");
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  document.querySelectorAll(".prose > *").forEach((el) => {
    observer.observe(el);
  });
</script>
